body{
    background-color:#ecb97e ;
}

h1{
    text-align: center;
    text-decoration: underline;
}

header{
    display: flex;
    justify-content: center;
}

.Menu{
    border: solid 2px;
    display: flex;
    justify-content: space-around;
}